* {
  padding: 0;
  margin: 0;
}

html,
body,
.root {
  height: 100%;
}

body,
h1 {
  font-family: 'Quicksand', sans-serif;
}

.h100 {
  min-height: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt50 {
  padding-top: 50px;
}

.text-white {
  color: #ffffff;
}

.text-yellow {
  color: rgba(228, 185, 47, 1);
}

.container {
  max-width: 1180px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col5 {
  width: 19%;
  margin-right: 5px;
  margin-left: 5px;
}

.col2 {
  width: 48%;
  margin-right: 10px;
  margin-left: 10px;
}

.card {
  background-color: rgb(29, 63, 94, 0.5);
  padding: 15px;
  border: 1px solid rgb(29, 63, 94, 1);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  align-items: center;
}

.scroll-div {
  height: 320px;
  position: relative;
  scroll-behavior: auto;
  overflow-y: auto;
}
