.note-form textarea {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}

.note-form textarea::placeholder {
  color: #ffffff;
}

.note-form button {
  background-color: #47c652;
  border: none;
  font-family: 'Quicksand';
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
}
